  .nav{
       position: fixed;
       transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
       z-index: 12;

}

     
     .nav-show {
      
       opacity: 1;
     }
     
     .nav-hide {
      
       opacity: 0;
     }
     
.navbar{
     
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 2em;
       
      
}

.menu-toggle{
       cursor: pointer;
}

.logo {
       text-decoration: none;
       font-family: "Monument Extended";
       font-weight: bolder;
       text-transform: uppercase; 
       position: relative;
       z-index: -2; 
     }
     
     .nav-overlay {
       position: fixed;
       background: #f7f7da;
       z-index: -1; 
       top: -100%;
       left: 0;
       color: black;
       width: 100%;
       height: 100vh;
       overflow: hidden;
       padding: 4em;
       transition: all 3s cubic-bezier(0.13,1,0.13,1);
     }
     
.hamBox{
       position: relative;
       width: 44px;
       z-index: 15;
       height: 44px;
       cursor: pointer;
       border-radius: 50%;
       transition: 0.3s ease;
       padding: 2.4em;
}


.lineTop,.lineBottom{
       margin: 0 auto;
       position: absolute;
       display: block;
       width: 38px;
       height: 2px;
       border-radius: 10px;
       background: rgba(0, 0, 0, 0.5);
       left: 0;
       right: 0;
       transform: rotate(0deg);
       transition: all 0.4s;


}
.lineTop{
       top: 2.2em;
}
.lineBottom{
       bottom: 2.1em;
}
.lineTop.spin{
       top: 2.35em;
       transform: rotate(135deg);
  background:#2a2a2f;
  
}
.lineBottom.spin{
       bottom: 2.35em;
       transform: rotate(225deg);
  background:#2a2a2f;

} 
.carousel-container {
       width: 100%;
       max-width: 900px; 
       height: auto;
       margin: 0 auto;
       border-radius: 10px;
       overflow: hidden;
       position: relative;
       
     }
     
     .carousel-item {
       position: relative;
       overflow: hidden;
     }
     
     .carousel-image {
       width: 100%;
       height: 100%; 
       object-fit: cover; 
       border-radius: 10px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
       transition: transform 0.5s ease, box-shadow 0.5s ease;
       
     }
     
     .carousel-image:hover {
       transform: scale(1.05);
       box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
     }
     
     .carousel .control-prev, .carousel .control-next {
       background-color: rgba(0, 0, 0, 0.5);
       border-radius: 50%;
       width: 30px;
       height: 30px;
       line-height: 30px;
       color: #fff;
       text-align: center;
       font-size: 18px;
     }
      

      
      

