@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html, body {
  /* background-color: #F9F7F5; 
   */
  scroll-behavior: smooth;   /* Smooth scrolling */
  overflow-x: hidden;
}
